<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doublez.friend.mapper.exam.ExamMapper">

    <select id="selectExamList" resultType="com.doublez.friend.domain.exam.vo.ExamVO">
        SELECT
        te.exam_id,
        te.title,
        te.start_time,
        te.end_time
        FROM
        tb_exam te
        where
        status = 1
        <if test="query.title !=null and query.title !='' ">
            AND te.title LIKE CONCAT('%',#{query.title},'%')
        </if>
        <if test="query.startTime != null and query.startTime != '' ">
            AND te.start_time >= #{query.startTime}
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            AND te.end_time &lt;= #{query.endTime}
        </if>
        <if test="query.type == 0">
            And te.end_time > NOW()
        </if>
        <if test="query.type == 1">
            And te.end_time &lt;= NOW()
        </if>
        ORDER BY
        te.create_time DESC
    </select>
</mapper>